@font-face {
  font-family: 'Epilogue';
  src: url('Epilogue-Light.eot');
  src: local('Epilogue Light'), local('Epilogue-Light'),
    url('/fonts/Epilogue-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Epilogue-Light.woff2') format('woff2'),
    url('/fonts/Epilogue-Light.woff') format('woff'),
    url('/fonts/Epilogue-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Epilogue';
  src: url('Epilogue-Regular.eot');
  src: local('Epilogue Regular'), local('Epilogue-Regular'),
    url('/fonts/Epilogue-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Epilogue-Regular.woff2') format('woff2'),
    url('/fonts/Epilogue-Regular.woff') format('woff'),
    url('/fonts/Epilogue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Epilogue';
  src: url('Epilogue-SemiBold.eot');
  src: local('Epilogue SemiBold'), local('Epilogue-SemiBold'),
    url('/fonts/Epilogue-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Epilogue-SemiBold.woff2') format('woff2'),
    url('/fonts/Epilogue-SemiBold.woff') format('woff'),
    url('/fonts/Epilogue-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
