:root {
  --main-dark-color: #141414;
  --dark-green-color: #1e2827;
  --grey-color: rgba(20, 20, 20, 0.5);
  --second-grey-color: rgba(20, 20, 20, 0.4);
  --social-hover-color: rgba(255, 255, 255, 0.1);
  --white-color: #ffffff;
  --main-background-color: #fbfbfb;
  --light-grey-color: #c6cdd1;
  --second-light-grey-color: rgba(255, 255, 255, 0.5);
  --heart-grey-color: rgba(20, 20, 20, 0.1);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --card-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
