.mobile-menu {
  position: fixed;
  top: 0;
  z-index: 999;

  width: 100%;
  height: 100%;

  background-color: var(--dark-green-color);

  overflow: auto;
  opacity: 0;
  visibility: hidden;

  transition: var(--transition);
}

/* .mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
} */

.menu-mob-close {
  border: none;
  background-color: transparent;
}

.mob-close-icon {
  width: 24px;
  height: 24px;

  fill: var(--white-color);
}

.mob-menu-wrapper {
  display: flex;
  justify-content: space-between;
}

.mob-menu-list {
  margin-top: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.mob-link {
  padding: 7px 0;

  display: block;

  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;

color: var(--white-color);
  transition: color var(--transition);
}

.mob-link:hover,
.mob-link:focus {
  color: var(--second-light-grey-color);
}

