<div class="mobile-menu js-menu-container">


    <div class="menu-wrapper container">
        <div class="mob-menu-wrapper">

            <a href="index.html" class="header-logo">
                <svg class="header-logo-icon">
                    <use class="header-logo-svg" href="/img/icons.svg#logo"></use>
                </svg>
                <span class="header-logo-text">thewatchspot</span>
            </a>

            <button type="button" class="menu-mob-close js-close-menu">

                <svg class="mob-close-icon">
                    <use class="menu-svg" href="/img/icons.svg#close"></use>
                </svg>
            </button>
        </div>

        <ul class="mob-menu-list">
            <li class="mob-menu-item">
                <a href="#about-us" class="mob-link">About us</a>
            </li>
            <li class="mob-menu-item">
                <a href="#catalog" class="mob-link">Catalog</a>
            </li>
            <li class="mob-menu-item">
                <a href="#sale" class="mob-link">Sale</a>
            </li>
        </ul>
    </div>


</div>