<div class="buy-now-backdrop">
  <div class="buy-now-modal">
    <button class="btn buy-now-close-modal" type="button">
      <svg width="20" height="20" class="close-cross">
        <use href="/img/icons.svg#close"></use>
      </svg>
    </button>
    <div class="buy-now-wrap">
      <div class="wach-info">
        <img
          class="buy-now-img"
          srcset="
            /img/catalog-desktop-1.png     1x,
            /img/catalog-desktop-1-@2x.png 2x
          "
          src="/img/catalog-desktop-1.png"
          alt="LEFF AMSTERDAM"
        />
        <p class="buy-now-description">
          Tube Watch S42 Date Steel With Black...
          <!-- Case ?????-->
        </p>
        <p class="buy-now-price">€395</p>
      </div>
      <form class="buy-now-modal-form" name="buy-now-form" autocomplete="on">
        <label class="buy-now-label">
          Full name
          <input
            class="buy-now-input"
            type="text"
            name="username"
            placeholder="Enter your full name"
          />
        </label>
        <label class="buy-now-label">
          Email
          <input
            class="buy-now-input"
            type="email"
            name="email"
            placeholder="Enter your email"
          />
        </label>
        <label class="buy-now-label">
          Card number
          <input
            class="buy-now-input"
            type="tel"
            name="card-number"
            minlength="19"
            maxlength="19"
            inputmode="numeric"
            pattern="[0-9\s]{13,19}"
            autocomplete="cc-number"
            placeholder="Enter card"
          />
        </label>

        <label class="buy-now-label">
          Comment
          <textarea
            class="buy-now-input"
            name="comment"
            placeholder="Enter your text"
            rows="10"
          ></textarea>
        </label>
        <button class="btn buy-now-submit" type="submit">Submit</button>
        <p>
          By clicking on “Send message” button, you agree to our
          <a class="privacy-policy" href="">Privacy Policy</a>, and allow
          Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</div>
