<div class="buy-now-backdrop" data-modal>
  <div class="buy-now-modal">
    <button class="btn buy-now-close-modal" type="button" data-modal-close>
      <svg width="24" height="24" class="buy-now-close-cross">
        <use href="/img/icons.svg#close"></use>
      </svg>
    </button>
    <div class="buy-now-wrap">
      <div class="buy-now-wach-info">
        <picture class="buy-now-img">
          <source
            srcset="
              /img/catalog-desktop-1-min.webp    1x,
              /img/catalog-desktop-1-min@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              /img/catalog-desktop-1-min.png    1x,
              /img/catalog-desktop-1-min@2x.png 2x
            "
            type="image/png"
          />
          <img src="/img/catalog-desktop-1-min.png" alt="LEFF AMSTERDAM" />
        </picture>
        <p
          class="buy-now-description"
          title="Tube Watch S42 Date Steel With Black Case"
        >
          Tube Watch S42 Date Steel With Black...
        </p>
        <p class="buy-now-price">€395</p>
      </div>
      <form class="buy-now-modal-form" name="buy-now-form" autocomplete="on">
        <label class="buy-now-label">
          Full name
          <input
            class="buy-now-input"
            type="text"
            title="First_Name Last_Name"
            name="username"
            pattern="(?=^.{0,40}$)^[a-zA-Zа-яА-ЯіІїЇєЄґҐ]+\s[a-zA-Zа-яА-ЯіІїЇєЄґҐ]+$"
            placeholder="Enter your full name"
            required
          />
        </label>
        <label class="buy-now-label">
          Email
          <input
            class="buy-now-input"
            type="email"
            name="email"
            placeholder="Enter your email"
            required
          />
        </label>
        <label class="buy-now-label">
          Card number
          <input
            class="buy-now-input"
            type="text"
            name="card-num"
            placeholder="Enter card"
            size="18"
            id="cr_no"
            pattern="(?:\d{4}[- ]){3}\d{4}|\d{16}"
            minlength="16"
            maxlength="19"
            required
          />
        </label>
        <label class="buy-now-label">
          Comments
          <textarea
            class="buy-now-input"
            name="comment"
            placeholder="Enter your text"
          ></textarea>
        </label>
        <button class="btn buy-now-submit" type="submit" disabled>
          Submit
        </button>
        <p class="buy-now-text">
          By clicking on “Submit” button, you agree to our
          <a class="buy-now-privacy-policy" href="" target="_blank"
            >Privacy Policy</a
          >,<br class="buy-now-br" />
          and allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</div>
