<div class="buy-now-backdrop" data-modal>
  <!-- to check the modal window add this class "is-open"   -->
  <div class="buy-now-modal">
    <button class="btn buy-now-close-modal" type="button" data-modal-close>
      <svg width="24" height="24" class="buy-now-close-cross">
        <use href="/img/icons.svg#close"></use>
      </svg>
    </button>
    <div class="buy-now-wrap">
      <div class="buy-now-wach-info">
        <img
          class="buy-now-img"
          srcset="
            /img/catalog-desktop-1.png     1x,
            /img/catalog-desktop-1-@2x.png 2x
          "
          src="/img/catalog-desktop-1.png"
          alt="LEFF AMSTERDAM"
        />
        <p class="buy-now-description">
          Tube Watch S42 Date Steel With Black...
          <!-- Case ?????-->
        </p>
        <p class="buy-now-price">€395</p>
      </div>
      <form class="buy-now-modal-form" name="buy-now-form" autocomplete="on">
        <label class="buy-now-label">
          Full name
          <input
            class="buy-now-input"
            type="text"
            name="username"
            pattern="(?=^.{0,40}$)^[a-zA-Zа-яА-ЯіІїЇєЄґҐ]+\s[a-zA-Zа-яА-ЯіІїЇєЄґҐ]+$"
            placeholder="Enter your full name"
          />
        </label>
        <label class="buy-now-label">
          Email
          <input
            class="buy-now-input"
            type="email"
            name="email"
            placeholder="Enter your email"
          />
        </label>
        <label class="buy-now-label">
          Card number
          <input
            class="buy-now-input"
            type="text"
            name="card-num"
            placeholder="Enter card"
            size="18"
            id="cr_no"
            pattern="(?:\d{4}[- ]){3}\d{4}|\d{16}"
            minlength="16"
            maxlength="19"
          />
        </label>
        <label class="buy-now-label">
          Comments
          <textarea
            class="buy-now-input"
            name="comment"
            placeholder="Enter your text"
          ></textarea>
        </label>
        <button class="btn buy-now-submit" type="submit" disabled>
          Submit
        </button>
        <p class="buy-now-text">
          By clicking on “Submit” button, you agree to our
          <a class="buy-now-privacy-policy" href="" target="_blank"
            >Privacy Policy</a
          >,<br class="buy-now-br" />
          and allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</div>
