<section class="catalog">
  <div class="container catalog-container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <a class="catalog-link" href="">
          <div class="catalog-wrapper">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/catalog-desktop-1-min.webp    1x,
                  /img/catalog-desktop-1-min@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/catalog-desktop-1-min.png 1x,
                  /img/catalog-desktop-1-min.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  /img/catalog-mobile-1-min.webp    1x,
                  /img/catalog-mobile-1-min@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/catalog-mobile-1-min.png 1x,
                  /img/catalog-mobile-1-min.png 2x
                "
              />
              <svg class="catalog-icon-open" width="24" height="24">
                <use href="/img/icons.svg#heart"></use>
              </svg>

              <source
                media="(max-width: 767px)"
                srcset="
                  /img/catalog-mobile-1-min.webp    1x,
                  /img/catalog-mobile-1-min@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/catalog-mobile-1-min.png 1x,
                  /img/catalog-mobile-1-min.png 2x
                "
              />

              <img
                class="catalog_img"
                src="/img/catalog-mobile-1-min.png"
                alt="watches"
              />
            </picture>
          </div>
          <div class="watches-content">
            <h3 class="watches-title">
              Tube Watch S42 Date Steel With Black Case
            </h3>
            <p class="watches-destription">€395</p>
          </div>
        </a>
      </li>

      <li class="catalog-item">
        <a class="catalog-link" href="">
          <div class="catalog-wrapper">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/catalog-desktop-2-min.webp    1x,
                  /img/catalog-desktop-2-min@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/catalog-desktop-2-min.png 1x,
                  /img/catalog-desktop-2-min.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  /img/catalog-mobile-2-min.webp    1x,
                  /img/catalog-mobile-2-min@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/catalog-mobile-2-min.png 1x,
                  /img/catalog-mobile-2-min.png 2x
                "
              />
              <svg class="catalog-icon-open" width="24" height="24">
                <use href="/img/icons.svg#heart"></use>
              </svg>

              <source
                media="(max-width: 767px)"
                srcset="
                  /img/catalog-mobile-2-min.webp    1x,
                  /img/catalog-mobile-2-min@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/catalog-mobile-2-min.png 1x,
                  /img/catalog-mobile-2-min.png 2x
                "
              />

              <img
                class="catalog-img"
                src="/img/catalog-mobile-2-min.png"
                alt="watches"
              />
            </picture>
          </div>
          <div class="watches-content">
            <h3 class="watches-title">Avondale Watch Police For Men</h3>
            <p class="watches-destription">€800</p>
          </div>
        </a>
      </li>

      <li class="catalog-item">
        <a class="catalog-link" href="">
          <div class="catalog-wrapper">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/catalog-desktop-3-min.webp    1x,
                  /img/catalog-desktop-3-min@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/catalog-desktop-3-min.png 1x,
                  /img/catalog-desktop-3-min.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  /img/catalog-mobile-3-min.webp    1x,
                  /img/catalog-mobile-3-min@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/catalog-mobile-3-min.png 1x,
                  /img/catalog-mobile-3-min.png 2x
                "
              />
              <svg class="catalog-icon-open" width="24" height="24">
                <use href="/img/icons.svg#heart"></use>
              </svg>

              <source
                media="(max-width: 767px)"
                srcset="
                  /img/catalog-mobile-3-min.webp    1x,
                  /img/catalog-mobile-3-min@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/catalog-mobile-3-min.png 1x,
                  /img/catalog-mobile-3-min.png 2x
                "
              />

              <img
                class="catalog-img"
                src="/img/catalog-mobile-3-min.png"
                alt="watches"
              />
            </picture>
          </div>
          <div class="watches-content">
            <h3 class="watches-title">
              Diver 300M Co‑Axial Master Chronometer Chronograph
            </h3>
            <p class="watches-destription">€600</p>
          </div>
        </a>
      </li>

      <li class="catalog-item">
        <a class="catalog-link" href="">
          <div class="catalog-wrapper">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/catalog-desktop-4-min.webp    1x,
                  /img/catalog-desktop-4-min@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/catalog-desktop-4-min.png 1x,
                  /img/catalog-desktop-4-min.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  /img/catalog-mobile-4-min.webp    1x,
                  /img/catalog-mobile-4-min@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/catalog-mobile-4-min.png 1x,
                  /img/catalog-mobile-4-min.png 2x
                "
              />
              <svg class="catalog-icon-open" width="24" height="24">
                <use href="/img/icons.svg#heart"></use>
              </svg>

              <source
                media="(max-width: 767px)"
                srcset="
                  /img/catalog-mobile-4-min.webp    1x,
                  /img/catalog-mobile-4-min@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/catalog-mobile-4-min.png 1x,
                  /img/catalog-mobile-4-min.png 2x
                "
              />

              <img
                class="catalog-img"
                src="/img/catalog-mobile-4-min.png"
                alt="watches"
              />
            </picture>
          </div>
          <div class="watches-content">
            <h3 class="watches-title">
              Diver 300M Co-Axial Master Chronometer
            </h3>
            <p class="watches-destription">€1400</p>
          </div>
        </a>
      </li>

      <li class="catalog-item">
        <a class="catalog-link" href="">
          <div class="catalog-wrapper">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/catalog-desktop-5-min.webp    1x,
                  /img/catalog-desktop-5-min@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/catalog-desktop-5-min.png 1x,
                  /img/catalog-desktop-5-min.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  /img/catalog-mobile-5-min.webp    1x,
                  /img/catalog-mobile-5-min@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/catalog-mobile-5-min.png 1x,
                  /img/catalog-mobile-5-min.png 2x
                "
              />
              <svg class="catalog-icon-open" width="24" height="24">
                <use href="/img/icons.svg#heart"></use>
              </svg>

              <source
                media="(max-width: 767px)"
                srcset="
                  /img/catalog-mobile-5-min.webp    1x,
                  /img/catalog-mobile-5-min@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/catalog-mobile-5-min.png 1x,
                  /img/catalog-mobile-5-min.png 2x
                "
              />

              <img
                class="catalog-img"
                src="/img/catalog-mobile-5-min.png"
                alt="watches"
              />
            </picture>
          </div>
          <div class="watches-content">
            <h3 class="watches-title">Taman Watch By Police For Men</h3>
            <p class="watches-destription">€500</p>
          </div>
        </a>
      </li>

      <li class="catalog-item">
        <a class="catalog-link" href="">
          <div class="catalog-wrapper">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/catalog-desktop-6-min.webp    1x,
                  /img/catalog-desktop-6-min@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/catalog-desktop-6-min.png 1x,
                  /img/catalog-desktop-6-min.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  /img/catalog-mobile-6-min.webp    1x,
                  /img/catalog-mobile-6-min@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/catalog-mobile-6-min.png 1x,
                  /img/catalog-mobile-6-min.png 2x
                "
              />
              <svg class="catalog-icon-open" width="24" height="24">
                <use href="/img/icons.svg#heart"></use>
              </svg>

              <source
                media="(max-width: 767px)"
                srcset="
                  /img/catalog-mobile-6-min.webp    1x,
                  /img/catalog-mobile-6-min@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/catalog-mobile-6-min.png 1x,
                  /img/catalog-mobile-6-min.png 2x
                "
              />

              <img
                class="catalog-img"
                src="/img/catalog-mobile-6-min.png"
                alt="watches"
              />
            </picture>
          </div>
          <div class="watches-content">
            <h3 class="watches-title">Malawi Watch Police For Men</h3>
            <p class="watches-destription">€555</p>
          </div>
        </a>
      </li>

      <li class="catalog-item">
        <a class="catalog-link" href="">
          <div class="catalog-wrapper">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/catalog-desktop-7-min.webp    1x,
                  /img/catalog-desktop-7-min@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/catalog-desktop-7-min.png 1x,
                  /img/catalog-desktop-7-min.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  /img/catalog-mobile-7-min.webp    1x,
                  /img/catalog-mobile-7-min@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/catalog-mobile-7-min.png 1x,
                  /img/catalog-mobile-7-min.png 2x
                "
              />
              <svg class="catalog-icon-open" width="24" height="24">
                <use href="/img/icons.svg#heart"></use>
              </svg>

              <source
                media="(max-width: 767px)"
                srcset="
                  /img/catalog-mobile-7-min.webp    1x,
                  /img/catalog-mobile-7-min@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/catalog-mobile-7-min.png 1x,
                  /img/catalog-mobile-7-min.png 2x
                "
              />

              <img
                class="catalog-img"
                src="/img/catalog-mobile-7-min.png"
                alt="watches"
              />
            </picture>
          </div>
          <div class="watches-content">
            <h3 class="watches-title">
              Diver 300M Co-Axial Master Chronometer
            </h3>
            <p class="watches-destription">€1200</p>
          </div>
        </a>
      </li>

      <li class="catalog-item">
        <a class="catalog-link" href="">
          <div class="catalog-wrapper">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/catalog-desktop-8-min.webp    1x,
                  /img/catalog-desktop-8-min@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/catalog-desktop-8-min.png 1x,
                  /img/catalog-desktop-8-min.png 2x
                "
              />

              <source
                media="(min-width: 768px)"
                srcset="
                  /img/catalog-mobile-8-min.webp    1x,
                  /img/catalog-mobile-8-min@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/catalog-mobile-8-min.png 1x,
                  /img/catalog-mobile-8-min.png 2x
                "
              />
              <svg class="catalog-icon-open" width="24" height="24">
                <use href="/img/icons.svg#heart"></use>
              </svg>

              <source
                media="(max-width: 767px)"
                srcset="
                  /img/catalog-mobile-8-min.webp    1x,
                  /img/catalog-mobile-8-min@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/catalog-mobile-8-min.png 1x,
                  /img/catalog-mobile-8-min.png 2x
                "
              />

              <img
                class="catalog-img"
                src="/img/catalog-mobile-8-min.png"
                alt="watches"
              />
            </picture>
          </div>
          <div class="watches-content">
            <h3 class="watches-title">Greenlane Watch By Police For Men</h3>
            <p class="watches-destription">€1000</p>
          </div>
        </a>
      </li>

      <li class="catalog-item">
        <a class="catalog-link" href="">
          <div class="catalog-wrapper">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/catalog-desktop-9-min.webp    1x,
                  /img/catalog-desktop-9-min@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/catalog-desktop-9-min.png 1x,
                  /img/catalog-desktop-9-min.png 2x
                "
              />
              <svg class="catalog-icon-open" width="24" height="24">
                <use href="/img/icons.svg#heart"></use>
              </svg>

              <img
                class="catalog-img"
                src="/img/catalog-desktop-9-min.png"
                alt="watches"
              />
            </picture>
          </div>
          <div class="watches-content">
            <h3 class="watches-title">Squardrc 5402 Chrono</h3>
            <p class="watches-destription">€359</p>
          </div>
        </a>
      </li>

      <li class="catalog-item">
        <a class="catalog-link" href="">
          <div class="catalog-wrapper">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/catalog-desktop-10-min.webp    1x,
                  /img/catalog-desktop-10-min@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/catalog-desktop-10-min.png 1x,
                  /img/catalog-desktop-10-min.png 2x
                "
              />
              <svg class="catalog-icon-open" width="24" height="24">
                <use href="/img/icons.svg#heart"></use>
              </svg>

              <img
                class="catalog-img"
                src="/img/catalog-desktop-10-min.png"
                alt="watches"
              />
            </picture>
          </div>
          <div class="watches-content">
            <h3 class="watches-title">
              Diver 300M Co‑Axial Master Chronometer Chronograph
            </h3>
            <p class="watches-destription">€400</p>
          </div>
        </a>
      </li>

      <li class="catalog-item">
        <a class="catalog-link" href="">
          <div class="catalog-wrapper">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/catalog-desktop-11-min.webp    1x,
                  /img/catalog-desktop-11-min@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/catalog-desktop-11-min.png 1x,
                  /img/catalog-desktop-11-min.png 2x
                "
              />
              <svg class="catalog-icon-open" width="24" height="24">
                <use href="/img/icons.svg#heart"></use>
              </svg>

              <img
                class="catalog-img"
                src="/img/catalog-desktop-11-min.png"
                alt="watches"
              />
            </picture>
          </div>
          <div class="watches-content">
            <h3 class="watches-title">Citizen</h3>
            <p class="watches-destription">€519</p>
          </div>
        </a>
      </li>

      <li class="catalog-item">
        <a class="catalog-link" href="">
          <div class="catalog-wrapper">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/catalog-desktop-12-min.webp    1x,
                  /img/catalog-desktop-12-min@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/catalog-desktop-12-min.png 1x,
                  /img/catalog-desktop-12-min.png 2x
                "
              />
              <svg class="catalog-icon-open" width="24" height="24">
                <use href="/img/icons.svg#heart"></use>
              </svg>

              <img
                class="catalog-img"
                src="/img/catalog-desktop-12-min.png"
                alt="watches"
              />
            </picture>
          </div>
          <div class="watches-content">
            <h3 class="watches-title">Armani Exchange</h3>
            <p class="watches-destription">€400</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <button class="catalog-button btn" type="button" data-modal-open>
    BUY NOW
  </button>
</section>
