<section class="catalog">
  <div class="container catalog-container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item flip-item">
        <a class="catalog-link" href="">
          <div class="flip-inner">
            <div class="catalog-wrapper flip-wrapper">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /img/catalog-desktop-1-min.webp    1x,
                    /img/catalog-desktop-1-min@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /img/catalog-desktop-1-min.png 1x,
                    /img/catalog-desktop-1-min.png 2x
                  "
                />

                <source
                  media="(min-width: 768px)"
                  srcset="
                    /img/catalog-mobile-1-min.webp    1x,
                    /img/catalog-mobile-1-min@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    /img/catalog-mobile-1-min.png 1x,
                    /img/catalog-mobile-1-min.png 2x
                  "
                />

                <source
                  media="(max-width: 767px)"
                  srcset="
                    /img/catalog-mobile-1-min.webp    1x,
                    /img/catalog-mobile-1-min@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    /img/catalog-mobile-1-min.png 1x,
                    /img/catalog-mobile-1-min.png 2x
                  "
                />

                <img
                  class="catalog-img"
                  src="/img/catalog-mobile-1-min.png"
                  alt="watches"
                />
              </picture>
              <svg class="catalog-icon-open" width="21" height="18">
                <use href="/img/icons.svg#heart"></use>
              </svg>
            </div>
            <div class="flip-back">
              <h3 class="overlay-title">DESCRIPTION</h3>
              <p class="overlay-decr">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATURESTION</h3>
              <pre class="overlay-decr">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel</pre
              >
            </div>
          </div>
          <div class="watches-content">
            <p class="watches-title">Tube Watch S42 Date Steel With Black...</p>
            <span class="watches-description">€395</span>
          </div>
        </a>
      </li>

      <li class="catalog-item flip-item">
        <a class="catalog-link" href="">
          <div class="flip-inner">
            <div class="catalog-wrapper flip-wrapper">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /img/catalog-desktop-2-min.webp    1x,
                    /img/catalog-desktop-2-min@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /img/catalog-desktop-2-min.png 1x,
                    /img/catalog-desktop-2-min.png 2x
                  "
                />

                <source
                  media="(min-width: 768px)"
                  srcset="
                    /img/catalog-mobile-2-min.webp    1x,
                    /img/catalog-mobile-2-min@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    /img/catalog-mobile-2-min.png 1x,
                    /img/catalog-mobile-2-min.png 2x
                  "
                />

                <source
                  media="(max-width: 767px)"
                  srcset="
                    /img/catalog-mobile-2-min.webp    1x,
                    /img/catalog-mobile-2-min@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    /img/catalog-mobile-2-min.png 1x,
                    /img/catalog-mobile-2-min.png 2x
                  "
                />

                <img
                  class="catalog-img"
                  src="/img/catalog-mobile-2-min.png"
                  alt="watches"
                />
              </picture>
              <svg class="catalog-icon-open" width="21" height="18">
                <use href="/img/icons.svg#heart"></use>
              </svg>
            </div>
            <div class="flip-back">
              <h3 class="overlay-title">DESCRIPTION</h3>
              <p class="overlay-decr">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATURESTION</h3>
              <pre class="overlay-decr">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel</pre
              >
            </div>
          </div>
          <div class="watches-content">
            <p class="watches-title">Avondale Watch Police For Men</p>
            <span class="watches-description">€800</span>
          </div>
        </a>
      </li>

      <li class="catalog-item flip-item">
        <a class="catalog-link" href="">
          <div class="flip-inner">
            <div class="catalog-wrapper flip-wrapper">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /img/catalog-desktop-3-min.webp    1x,
                    /img/catalog-desktop-3-min@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /img/catalog-desktop-3-min.png 1x,
                    /img/catalog-desktop-3-min.png 2x
                  "
                />

                <source
                  media="(min-width: 768px)"
                  srcset="
                    /img/catalog-mobile-3-min.webp    1x,
                    /img/catalog-mobile-3-min@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    /img/catalog-mobile-3-min.png 1x,
                    /img/catalog-mobile-3-min.png 2x
                  "
                />

                <source
                  media="(max-width: 767px)"
                  srcset="
                    /img/catalog-mobile-3-min.webp    1x,
                    /img/catalog-mobile-3-min@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    /img/catalog-mobile-3-min.png 1x,
                    /img/catalog-mobile-3-min.png 2x
                  "
                />

                <img
                  class="catalog-img"
                  src="/img/catalog-mobile-3-min.png"
                  alt="watches"
                />
              </picture>
              <svg class="catalog-icon-open" width="21" height="18">
                <use href="/img/icons.svg#heart"></use>
              </svg>
            </div>
            <div class="flip-back">
              <h3 class="overlay-title">DESCRIPTION</h3>
              <p class="overlay-decr">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATURESTION</h3>
              <pre class="overlay-decr">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel</pre
              >
            </div>
          </div>
          <div class="watches-content">
            <p class="watches-title">
              Diver 300M Co‑Axial Master Chronometer..
            </p>
            <span class="watches-description">€600</span>
          </div>
        </a>
      </li>

      <li class="catalog-item flip-item">
        <a class="catalog-link" href="">
          <div class="flip-inner">
            <div class="catalog-wrapper flip-wrapper">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /img/catalog-desktop-4-min.webp    1x,
                    /img/catalog-desktop-4-min@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /img/catalog-desktop-4-min.png 1x,
                    /img/catalog-desktop-4-min.png 2x
                  "
                />

                <source
                  media="(min-width: 768px)"
                  srcset="
                    /img/catalog-mobile-4-min.webp    1x,
                    /img/catalog-mobile-4-min@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    /img/catalog-mobile-4-min.png 1x,
                    /img/catalog-mobile-4-min.png 2x
                  "
                />

                <source
                  media="(max-width: 767px)"
                  srcset="
                    /img/catalog-mobile-4-min.webp    1x,
                    /img/catalog-mobile-4-min@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    /img/catalog-mobile-4-min.png 1x,
                    /img/catalog-mobile-4-min.png 2x
                  "
                />

                <img
                  class="catalog-img"
                  src="/img/catalog-mobile-4-min.png"
                  alt="watches"
                />
              </picture>
              <svg class="catalog-icon-open" width="21" height="18">
                <use href="/img/icons.svg#heart"></use>
              </svg>
            </div>
            <div class="flip-back">
              <h3 class="overlay-title">DESCRIPTION</h3>
              <p class="overlay-decr">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATURESTION</h3>
              <pre class="overlay-decr">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel</pre
              >
            </div>
          </div>
          <div class="watches-content">
            <p class="watches-title">Diver 300M Co-Axial Master Chronometer</p>
            <span class="watches-description">€1400</span>
          </div>
        </a>
      </li>

      <li class="catalog-item flip-item">
        <a class="catalog-link" href="">
          <div class="flip-inner">
            <div class="catalog-wrapper flip-wrapper">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /img/catalog-desktop-5-min.webp    1x,
                    /img/catalog-desktop-5-min@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /img/catalog-desktop-5-min.png 1x,
                    /img/catalog-desktop-5-min.png 2x
                  "
                />

                <source
                  media="(min-width: 768px)"
                  srcset="
                    /img/catalog-mobile-5-min.webp    1x,
                    /img/catalog-mobile-5-min@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    /img/catalog-mobile-5-min.png 1x,
                    /img/catalog-mobile-5-min.png 2x
                  "
                />

                <source
                  media="(max-width: 767px)"
                  srcset="
                    /img/catalog-mobile-5-min.webp    1x,
                    /img/catalog-mobile-5-min@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    /img/catalog-mobile-5-min.png 1x,
                    /img/catalog-mobile-5-min.png 2x
                  "
                />

                <img
                  class="catalog-img"
                  src="/img/catalog-mobile-5-min.png"
                  alt="watches"
                />
              </picture>
              <svg class="catalog-icon-open" width="21" height="18">
                <use href="/img/icons.svg#heart"></use>
              </svg>
            </div>
            <div class="flip-back">
              <h3 class="overlay-title">DESCRIPTION</h3>
              <p class="overlay-decr">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATURESTION</h3>
              <pre class="overlay-decr">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel</pre
              >
            </div>
          </div>
          <div class="watches-content">
            <p class="watches-title">Taman Watch By Police For Men</p>
            <span class="watches-description">€500</span>
          </div>
        </a>
      </li>

      <li class="catalog-item flip-item">
        <a class="catalog-link" href="">
          <div class="flip-inner">
            <div class="catalog-wrapper flip-wrapper">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /img/catalog-desktop-6-min.webp    1x,
                    /img/catalog-desktop-6-min@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /img/catalog-desktop-6-min.png 1x,
                    /img/catalog-desktop-6-min.png 2x
                  "
                />

                <source
                  media="(min-width: 768px)"
                  srcset="
                    /img/catalog-mobile-6-min.webp    1x,
                    /img/catalog-mobile-6-min@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    /img/catalog-mobile-6-min.png 1x,
                    /img/catalog-mobile-6-min.png 2x
                  "
                />

                <source
                  media="(max-width: 767px)"
                  srcset="
                    /img/catalog-mobile-6-min.webp    1x,
                    /img/catalog-mobile-6-min@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    /img/catalog-mobile-6-min.png 1x,
                    /img/catalog-mobile-6-min.png 2x
                  "
                />

                <img
                  class="catalog-img"
                  src="/img/catalog-mobile-6-min.png"
                  alt="watches"
                />
              </picture>
              <svg class="catalog-icon-open" width="21" height="18">
                <use href="/img/icons.svg#heart"></use>
              </svg>
            </div>
            <div class="flip-back">
              <h3 class="overlay-title">DESCRIPTION</h3>
              <p class="overlay-decr">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATURESTION</h3>
              <pre class="overlay-decr">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel</pre
              >
            </div>
          </div>
          <div class="watches-content">
            <p class="watches-title">Malawi Watch Police For Men</p>
            <span class="watches-description">€555</span>
          </div>
        </a>
      </li>

      <li class="catalog-item flip-item">
        <a class="catalog-link" href="">
          <div class="flip-inner">
            <div class="catalog-wrapper flip-wrapper">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /img/catalog-desktop-7-min.webp    1x,
                    /img/catalog-desktop-7-min@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /img/catalog-desktop-7-min.png 1x,
                    /img/catalog-desktop-7-min.png 2x
                  "
                />

                <source
                  media="(min-width: 768px)"
                  srcset="
                    /img/catalog-mobile-7-min.webp    1x,
                    /img/catalog-mobile-7-min@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    /img/catalog-mobile-7-min.png 1x,
                    /img/catalog-mobile-7-min.png 2x
                  "
                />

                <source
                  media="(max-width: 767px)"
                  srcset="
                    /img/catalog-mobile-7-min.webp    1x,
                    /img/catalog-mobile-7-min@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    /img/catalog-mobile-7-min.png 1x,
                    /img/catalog-mobile-7-min.png 2x
                  "
                />

                <img
                  class="catalog-img"
                  src="/img/catalog-mobile-7-min.png"
                  alt="watches"
                />
              </picture>
              <svg class="catalog-icon-open" width="21" height="18">
                <use href="/img/icons.svg#heart"></use>
              </svg>
            </div>
            <div class="flip-back">
              <h3 class="overlay-title">DESCRIPTION</h3>
              <p class="overlay-decr">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATURESTION</h3>
              <pre class="overlay-decr">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel</pre
              >
            </div>
          </div>
          <div class="watches-content">
            <p class="watches-title">Diver 300M Co-Axial Master...</p>
            <span class="watches-description">€1200</span>
          </div>
        </a>
      </li>

      <li class="catalog-item flip-item">
        <a class="catalog-link" href="">
          <div class="flip-inner">
            <div class="catalog-wrapper flip-wrapper">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /img/catalog-desktop-8-min.webp    1x,
                    /img/catalog-desktop-8-min@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /img/catalog-desktop-8-min.png 1x,
                    /img/catalog-desktop-8-min.png 2x
                  "
                />

                <source
                  media="(min-width: 768px)"
                  srcset="
                    /img/catalog-mobile-8-min.webp    1x,
                    /img/catalog-mobile-8-min@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="
                    /img/catalog-mobile-8-min.png 1x,
                    /img/catalog-mobile-8-min.png 2x
                  "
                />

                <source
                  media="(max-width: 767px)"
                  srcset="
                    /img/catalog-mobile-8-min.webp    1x,
                    /img/catalog-mobile-8-min@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="
                    /img/catalog-mobile-8-min.png 1x,
                    /img/catalog-mobile-8-min.png 2x
                  "
                />

                <img
                  class="catalog-img"
                  src="/img/catalog-mobile-8-min.png"
                  alt="watches"
                />
              </picture>
              <svg class="catalog-icon-open" width="21" height="18">
                <use href="/img/icons.svg#heart"></use>
              </svg>
            </div>
            <div class="flip-back">
              <h3 class="overlay-title">DESCRIPTION</h3>
              <p class="overlay-decr">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATURESTION</h3>
              <pre class="overlay-decr">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel</pre
              >
            </div>
          </div>
          <div class="watches-content">
            <p class="watches-title">Greenlane Watch By Police For Men</p>
            <span class="watches-description">€1000</span>
          </div>
        </a>
      </li>

      <li class="catalog-item flip-item">
        <a class="catalog-link" href="">
          <div class="flip-inner">
            <div class="catalog-wrapper flip-wrapper">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /img/catalog-desktop-9-min.webp    1x,
                    /img/catalog-desktop-9-min@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /img/catalog-desktop-9-min.png 1x,
                    /img/catalog-desktop-9-min.png 2x
                  "
                />

                <img
                  class="catalog-img"
                  src="/img/catalog-desktop-9-min.png"
                  alt="watches"
                />
              </picture>
              <svg class="catalog-icon-open" width="21" height="18">
                <use href="/img/icons.svg#heart"></use>
              </svg>
            </div>
            <div class="flip-back">
              <h3 class="overlay-title">DESCRIPTION</h3>
              <p class="overlay-decr">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATURESTION</h3>
              <pre class="overlay-decr">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel</pre
              >
            </div>
          </div>
          <div class="watches-content">
            <p class="watches-title">Squardrc 5402 Chrono</p>
            <span class="watches-description">€359</span>
          </div>
        </a>
      </li>

      <li class="catalog-item flip-item">
        <a class="catalog-link" href="">
          <div class="flip-inner">
            <div class="catalog-wrapper flip-wrapper">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /img/catalog-desktop-10-min.webp    1x,
                    /img/catalog-desktop-10-min@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /img/catalog-desktop-10-min.png 1x,
                    /img/catalog-desktop-10-min.png 2x
                  "
                />

                <img
                  class="catalog-img"
                  src="/img/catalog-desktop-10-min.png"
                  alt="watches"
                />
              </picture>
              <svg class="catalog-icon-open" width="21" height="18">
                <use href="/img/icons.svg#heart"></use>
              </svg>
            </div>
            <div class="flip-back">
              <h3 class="overlay-title">DESCRIPTION</h3>
              <p class="overlay-decr">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATURESTION</h3>
              <pre class="overlay-decr">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel</pre
              >
            </div>
          </div>
          <div class="watches-content">
            <p class="watches-title">Diver 300M Co‑Axial Master...</p>
            <span class="watches-description">€400</span>
          </div>
        </a>
      </li>

      <li class="catalog-item flip-item">
        <a class="catalog-link" href="">
          <div class="flip-inner">
            <div class="catalog-wrapper flip-wrapper">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /img/catalog-desktop-11-min.webp    1x,
                    /img/catalog-desktop-11-min@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /img/catalog-desktop-11-min.png 1x,
                    /img/catalog-desktop-11-min.png 2x
                  "
                />

                <img
                  class="catalog-img"
                  src="/img/catalog-desktop-11-min.png"
                  alt="watches"
                />
              </picture>
              <svg class="catalog-icon-open" width="21" height="18">
                <use href="/img/icons.svg#heart"></use>
              </svg>
            </div>
            <div class="flip-back">
              <h3 class="overlay-title">DESCRIPTION</h3>
              <p class="overlay-decr">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATURESTION</h3>
              <pre class="overlay-decr">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel</pre
              >
            </div>
          </div>
          <div class="watches-content">
            <p class="watches-title">Citizen</p>
            <span class="watches-description">€519</span>
          </div>
        </a>
      </li>

      <li class="catalog-item flip-item">
        <a class="catalog-link" href="">
          <div class="flip-inner">
            <div class="catalog-wrapper flip-wrapper">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /img/catalog-desktop-12-min.webp    1x,
                    /img/catalog-desktop-12-min@2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    /img/catalog-desktop-12-min.png 1x,
                    /img/catalog-desktop-12-min.png 2x
                  "
                />

                <img
                  class="catalog-img"
                  src="/img/catalog-desktop-12-min.png"
                  alt="watches"
                />
              </picture>
              <svg class="catalog-icon-open" width="21" height="18">
                <use href="/img/icons.svg#heart"></use>
              </svg>
            </div>
            <div class="flip-back">
              <h3 class="overlay-title">DESCRIPTION</h3>
              <p class="overlay-decr">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATURESTION</h3>
              <pre class="overlay-decr">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel</pre
              >
            </div>
          </div>
          <div class="watches-content">
            <p class="watches-title">Armani Exchange</p>
            <span class="watches-description">€400</span>
          </div>
        </a>
      </li>
    </ul>
    <button class="catalog-button btn" type="button" data-modal-open>
      BUY NOW
    </button>
  </div>
</section>
