<header class="header">
    <div class="header-wrapper container">

        <nav class="header-nav">
            <a href="index.html" class="header-logo">
                <svg class="header-logo-icon">
                    <use class="header-logo-svg" href="/img/icons.svg#logo"></use>
                </svg>
                <span class="header-logo-text">thewatchspot</span>
            </a>
            <ul class="header-list">
                <li class="header-item">
                    <a href="#about-us" class="header-link" >About us</a>
                </li>
                <li class="header-item">
                    <a href="#catalog" class="header-link">Catalog</a>
                </li>
                <li class="header-item">
                    <a href="#sale" class="header-link">Sale</a>
                </li>
            </ul>
        </nav>
        <address class="header-contacts">
            <a href="tel:+380684439426" class="header-tel btn"> +380 (68) 443-94-26 </a>
        </address>


        <button type="button" class="menu-btn js-open-menu">
            <svg class="icon-menu-burger">
                <use class="menu-svg-open" href="/img/icons.svg#menu"></use>
            </svg>
        </button>
    </div>

</header>