<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-title">Welcome to our collection of premium watches</h1>
    <div class="slider-wrapper">
      <ul class="hero-list">
        <li class="hero-item">
          <a class="hero-link" href=""><img src="" alt="new watches" /></a>
        </li>
        <li class="hero-item">
          <a class="hero-link" href=""><img src="" alt="" /></a>
        </li>
        <li class="hero-item">
          <a class="hero-link" href=""><img src="" alt="" /></a>
        </li>
        <li class="hero-item">
          <a class="hero-link" href=""><img src="" alt="" /></a>
        </li>
        <li class="hero-item">
          <a class="hero-link" href=""><img src="" alt="" /></a>
        </li>
      </ul>
    </div>
    <p class="hero-description">
      Our watches are not just timepieces, but also an expression of your
      personality and lifestyle. From classic designs to modern ones, we have a
      watch to suit every taste and occasion.
    </p>
    <div class="hero-image">
      <picture>
        <img src="/img/hero/hero-image-mobile.jpg" alt="watches on the hand" />
      </picture>
    </div>
  </div>
</section>
