<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-title">Welcome to our collection of premium watches</h1>
    <div class="hero-slider-wrapper swiper-hero">
      <ul class="hero-list swiper-wrapper">
        <li class="hero-item swiper-slide">
          <a class="hero-link" href="#" target="_blank">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/slider/slider-desktop-1.webp     348w,
                  /img/slider/slider-desktop-1-@2x.webp 696w
                "
                media="(min-width: 768px)"
                sizes="(min-width: 768px) 348px, 100vw"
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/slider/slider-mobile-1.webp     226w,
                  /img/slider/slider-mobile-1-@2x.webp 452w
                "
                media="(max-width: 767px)"
                sizes="(max-width: 767px) 226px, 100vw"
                type="image/webp"
              />

              <source
                srcset="
                  /img/slider/slider-desktop-1.png     348w,
                  /img/slider/slider-desktop-1-@2x.png 696w
                "
                media="(min-width: 768px)"
                sizes="(min-width: 768px) 348px, 100vw"
                type="image/png"
              />
              <source
                srcset="
                  /img/slider/slider-mobile-1.png     226w,
                  /img/slider/slider-mobile-1-@2x.png 452w
                "
                media="(max-width: 767px)"
                sizes="(max-width: 767px) 226px, 100vw"
                type="image/png"
              />

              <img
                class="hero-slider-image"
                src="/img/slider/slider-mobile-1.png"
                alt="new watches"
                loading="lazy"
              />
            </picture>
          </a>
        </li>
        <li class="hero-item swiper-slide">
          <a class="hero-link" href="#" target="_blank"
            ><picture>
              <source
                srcset="
                  /img/slider/slider-desktop-2.webp     348w,
                  /img/slider/slider-desktop-2-@2x.webp 696w
                "
                media="(min-width: 768px)"
                sizes="(min-width: 768px) 348px, 100vw"
                type="image/webp" />

              <source
                srcset="
                  /img/slider/slider-mobile-2.webp     226w,
                  /img/slider/slider-mobile-2-@2x.webp 452w
                "
                media="(max-width: 767px)"
                sizes="(max-width: 767px) 226px, 100vw"
                type="image/webp" />

              <source
                srcset="
                  /img/slider/slider-desktop-2.png     348w,
                  /img/slider/slider-desktop-2-@2x.png 696w
                "
                media="(min-width: 768px)"
                sizes="(min-width: 768px) 348px, 100vw"
                type="image/png" />

              <source
                srcset="
                  /img/slider/slider-mobile-2.png     226w,
                  /img/slider/slider-mobile-2-@2x.png 452w
                "
                media="(max-width: 767px)"
                sizes="(max-width: 767px) 226px, 100vw"
                type="image/png" />

              <img
                class="hero-slider-image"
                src="/img/slider/slider-mobile-2.png"
                alt="new watches"
                loading="lazy" /></picture
          ></a>
        </li>
        <li class="hero-item swiper-slide">
          <a class="hero-link" href="#" target="_blank"
            ><picture>
              <source
                srcset="
                  /img/slider/slider-desktop-3.webp     348w,
                  /img/slider/slider-desktop-3-@2x.webp 696w
                "
                media="(min-width: 768px)"
                sizes="(min-width: 768px) 348px, 100vw"
                type="image/webp" />

              <source
                srcset="
                  /img/slider/slider-mobile-3.webp     226w,
                  /img/slider/slider-mobile-3-@2x.webp 452w
                "
                media="(max-width: 767px)"
                sizes="(max-width: 767px) 226px, 100vw"
                type="image/webp" />

              <source
                srcset="
                  /img/slider/slider-desktop-3.png     348w,
                  /img/slider/slider-desktop-3-@2x.png 696w
                "
                media="(min-width: 768px)"
                sizes="(min-width: 768px) 348px, 100vw"
                type="image/png" />

              <source
                srcset="
                  /img/slider/slider-mobile-3.png     226w,
                  /img/slider/slider-mobile-3-@2x.png 452w
                "
                media="(max-width: 767px)"
                sizes="(max-width: 767px) 226px, 100vw"
                type="image/png" />

              <img
                class="hero-slider-image"
                src="/img/slider/slider-mobile-3.png"
                alt="new watches"
                loading="lazy" /></picture
          ></a>
        </li>
        <li class="hero-item swiper-slide">
          <a class="hero-link" href="#" target="_blank"
            ><picture>
              <source
                srcset="
                  /img/slider/slider-desktop-4.webp     348w,
                  /img/slider/slider-desktop-4-@2x.webp 696w
                "
                media="(min-width: 768px)"
                sizes="(min-width: 768px) 348px, 100vw"
                type="image/webp"
              />

              <source
                srcset="
                  /img/slider/slider-mobile-4.webp     226w,
                  /img/slider/slider-mobile-4-@2x.webp 452w
                "
                media="(max-width: 767px)"
                sizes="(max-width: 767px) 226px, 100vw"
                type="image/webp"
              />

              <source
                srcset="
                  /img/slider/slider-desktop-4.png     348w,
                  /img/slider/slider-desktop-4-@2x.png 696w
                "
                media="(min-width: 768px)"
                sizes="(min-width: 768px) 348px, 100vw"
                type="image/png"
              />

              <source
                srcset="
                  /img/slider/slider-mobile-4.png     226w,
                  /img/slider/slider-mobile-4-@2x.png 452w
                "
                media="(max-width: 767px)"
                sizes="(max-width: 767px) 226px, 100vw"
                type="image/png"
              />

              <img
                class="hero-slider-image"
                src="/img/slider/slider-mobile-4.png"
                alt="new watches"
                loading="lazy"
              /> </picture
          ></a>
        </li>
        <li class="hero-item swiper-slide">
          <a class="hero-link" href="#" target="_blank"
            ><picture>
              <source
                srcset="
                  /img/slider/slider-desktop-5.webp     348w,
                  /img/slider/slider-desktop-5-@2x.webp 696w
                "
                media="(min-width: 768px)"
                sizes="(min-width: 768px) 348px, 100vw"
                type="image/webp" />

              <source
                srcset="
                  /img/slider/slider-mobile-5.webp     226w,
                  /img/slider/slider-mobile-5-@2x.webp 452w
                "
                media="(max-width: 767px)"
                sizes="(max-width: 767px) 226px, 100vw"
                type="image/webp" />

              <source
                srcset="
                  /img/slider/slider-desktop-5.png     348w,
                  /img/slider/slider-desktop-5-@2x.png 696w
                "
                media="(min-width: 768px)"
                sizes="(min-width: 768px) 348px, 100vw"
                type="image/png" />

              <source
                srcset="
                  /img/slider/slider-mobile-5.png     226w,
                  /img/slider/slider-mobile-5-@2x.png 452w
                "
                media="(max-width: 767px)"
                sizes="(max-width: 767px) 226px, 100vw"
                type="image/png" />

              <img
                class="hero-slider-image"
                src="/img/slider/slider-mobile-5.png"
                alt="new watches"
                loading="lazy" /></picture
          ></a>
        </li>
      </ul>
      <div class="hero-slider-wrapper-navigation">
        <div class="hero-slider-button-next swiper-button-next">
          <svg class="slider-button-next-icon" width="18" height="18">
            <use href="/img/icons.svg#arrow-right"></use>
          </svg>
        </div>
        <div class="hero-slider-button-prev swiper-button-prev">
          <svg class="slider-button-prev-icon" width="18" height="18">
            <use href="/img/icons.svg#arrow-left"></use>
          </svg>
        </div>
        <div class="hero-slider-pagination swiper-pagination"></div>
      </div>
    </div>
    <p class="hero-description">
      Our watches are not just timepieces, but also an expression of your
      personality and lifestyle. From classic designs to modern ones, we have a
      watch to suit every taste and occasion.
    </p>
    <div class="hero-image-wrapper">
      <picture>
        <source
          srcset="
            /img/hero/hero-image-desktop.webp      676w,
            /img/hero/hero-image-desktop-@2x.webp 1352w
          "
          media="(min-width: 1280px)"
          sizes="(min-width: 1280px) 676px, 100vw"
          type="image/webp"
        />

        <source
          srcset="
            /img/hero/hero-image-tablet.webp      704w,
            /img/hero/hero-image-tablet-@2x.webp 1408w
          "
          media="(min-width: 768px)"
          sizes="(min-width: 768px) 704px, 100vw"
          type="image/webp"
        />

        <source
          srcset="
            /img/hero/hero-image-mobile.webp     335w,
            /img/hero/hero-image-mobile-@2x.webp 670w
          "
          media="(max-width: 767px)"
          sizes="(max-width: 767px) 335px, 100vw"
          type="image/webp"
        />

        <source
          srcset="
            /img/hero/hero-image-desktop.jpg      676w,
            /img/hero/hero-image-desktop-@2x.jpg 1352w
          "
          media="(min-width: 1280px)"
          sizes="(min-width: 1280px) 676px, 100vw"
          type="image/jpeg"
        />

        <source
          srcset="
            /img/hero/hero-image-tablet.jpg      704w,
            /img/hero/hero-image-tablet-@2x.jpg 1408w
          "
          media="(min-width: 768px)"
          sizes="(min-width: 768px) 704px, 100vw"
          type="image/jpeg"
        />

        <source
          srcset="
            /img/hero/hero-image-mobile.jpg     335w,
            /img/hero/hero-image-mobile-@2x.jpg 670w
          "
          media="(max-width: 767px)"
          sizes="(max-width: 767px) 335px, 100vw"
          type="image/jpeg"
        />

        <img
          class="hero-image"
          src="/img/hero/hero-image-mobile.jpg"
          alt="watches on the hand"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
