<section class="new-watches-section">
  <div class="container">
    <h2 class="new-watches-title-first">New watches</h2>
    <h3 class="new-watches-title-second">
      Green And Bronze—The Match Made In Heaven
    </h3>
    <ul class="new-watches-list">
      <li class="new-watches-item">
        <picture>
          <source
            srcset="
              /img/new-watch-mobile-1.webp     335w,
              /img/new-watch-mobile-1-@2x.webp 670w
            "
            media="(max-width: 767px)"
            sizes="(min-width: 375px) 335px, 100vw"
            type="image/webp"
          />
          <source
            srcset="
              /img/new-watch-mobile-1.jpg     335w,
              /img/new-watch-mobile-1-@2x.jpg 670w
            "
            media="(max-width: 767px)"
            sizes="(min-width: 375px) 335px, 100vw"
            type="image/jpeg"
          />
          <source
            srcset="
              /img/new-watch-tablet-1.webp     342w,
              /img/new-watch-tablet-1-@2x.webp 684w
            "
            media="(max-width: 1279px)"
            sizes="(min-width: 768px) 342px, 100vw"
            type="image/webp"
          />
          <source
            srcset="
              /img/new-watch-tablet-1.jpg     342w,
              /img/new-watch-tablet-1-@2x.jpg 684w
            "
            media="(max-width: 1279px)"
            sizes="(min-width: 768px) 342px, 100vw"
            type="image/jpeg"
          />
          <source
            srcset="
              /img/new-watch-desktop-1.webp      576w,
              /img/new-watch-desktop-1-@2x.webp 1152w
            "
            media="(min-width: 1280px)"
            sizes="(min-width: 1200px) 576px, 100vw"
            type="image/webp"
          />
          <source
            srcset="
              /img/new-watch-desktop-1.jpg      576w,
              /img/new-watch-desktop-1-@2x.jpg 1152w
            "
            media="(min-width: 1280px)"
            sizes="(min-width: 1280px) 576px, 100vw"
            type="image/jpeg"
            loading="lazy"
          />
          <img src="/img/new-watch-desktop-1.jpg" alt="Bronze watch" loading="lazy"/>
        </picture>
      </li>
      <li class="new-watches-item">
        <picture>
          <source
            srcset="
              /img/new-watch-mobile-2.webp     335w,
              /img/new-watch-mobile-2-@2x.webp 670w
            "
            media="(max-width: 767px)"
            sizes="(min-width: 375px) 335px, 100vw"
            type="image/webp"
          />
          <source
            srcset="
              /img/new-watch-mobile-2.jpg     335w,
              /img/new-watch-mobile-2-@2x.jpg 670w
            "
            media="(max-width: 767px)"
            sizes="(min-width: 375px) 335px, 100vw"
            type="image/jpeg"
          />
          <source
            srcset="
              /img/new-watch-tablet-2.webp     342w,
              /img/new-watch-tablet-2-@2x.webp 684w
            "
            media="(max-width: 1279px)"
            sizes="(min-width: 768px) 342px, 100vw"
            type="image/webp"
          />
          <source
            srcset="
              /img/new-watch-tablet-2.jpg     342w,
              /img/new-watch-tablet-2-@2x.jpg 684w
            "
            media="(max-width: 1279px)"
            sizes="(min-width: 768px) 342px, 100vw"
            type="image/jpeg"
          />
          <source
            srcset="
              /img/new-watch-desktop-2.webp      576w,
              /img/new-watch-desktop-2-@2x.webp 1152w
            "
            media="(min-width: 1280px)"
            sizes="(min-width: 1280px) 576px, 100vw"
            type="image/webp"
          />
          <source
            srcset="
              /img/new-watch-desktop-2.jpg      576w,
              /img/new-watch-desktop-2-@2x.jpg 1152w
            "
            media="(min-width: 1280px)"
            sizes="(min-width: 1280px) 576px, 100vw"
            type="image/jpeg"
          />
          <img src="/img/new-watch-desktop-2.jpg" alt="Silver watch" loading="lazy"/>
        </picture>
      </li>
    </ul>
  </div>
</section>
