<section class="sale" id="sale">
  <div class="sale-container container">
    <h2 class="sale-title">Sale</h2>
    <div class="info-wrap">
      <!-- <div class="sale-gallery liderswiper mySwiper2">
        <div class="sale-gallery-list-big swiper-wrapper">
          <div class="sale-gallery-item-big swiper-slide">
            <picture>
              <img
                src="/img/sale-slider/sale-big-mobile-1.png"
                alt="watch img 1"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="sale-gallery-item-big swiper-slide">
            <picture>
              <img
                src="/img/sale-slider/sale-big-mobile-2.jpg"
                alt="watch image 2"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="sale-gallery-item-big swiper-slide">
            <picture>
              <img
                src="/img/sale-slider/sale-big-mobile-3.jpg"
                alt="watch image 3"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <img
                src="/img/sale-slider/sale-big-mobile-4.jpg"
                alt="watch image 4"
                loading="lazy"
            /></picture>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>

      <div thumbsSlider="" class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture
              ><img
                src="/img/sale-slider/sale-small-mobile-1.jpg"
                alt="watch img 1"
                loading="lazy"
            /></picture>
          </div>
          <div class="swiper-slide">
            <picture
              ><img
                src="/img/sale-slider/sale-small-mobile-2.jpg"
                alt="watch image 2"
                loading="lazy"
            /></picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <img
                src="/img/sale-slider/sale-big-mobile-3.jpg"
                alt="watch image 3"
                loading="lazy"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <img
                src="/img/sale-slider/sale-big-mobile-4.jpg"
                alt="watch image 4"
                loading="lazy"
              />
            </picture>
          </div>
        </div>
      </div> -->

      <div class="sale-slider-container">
        <div class="sale-gallery swiper mySwiper2">
          <ul class="sale-gallery-list-big swiper-wrapper">
            <li class="sale-gallery-item-big swiper-slide" lazy="true">
              <picture>
                <img
                  src="/img/sale-slider/sale-big-mobile-1.png"
                  alt="watch img 1"
                  loading="lazy"
                />
              </picture>
            </li>
            <li class="sale-gallery-item-big swiper-slide" lazy="true">
              <picture>
                <img
                  src="/img/sale-slider/sale-big-mobile-2.jpg"
                  alt="watch image 2"
                  loading="lazy"
                />
              </picture>
            </li>
            <li class="sale-gallery-item-big swiper-slide" lazy="true">
              <picture>
                <img
                  src="/img/sale-slider/sale-big-mobile-3.jpg"
                  alt="watch image 3"
                  loading="lazy"
                />
              </picture>
            </li>
            <li class="sale-gallery-item-big swiper-slide" lazy="true">
              <picture>
                <img
                  src="/img/sale-slider/sale-big-mobile-4.jpg"
                  alt="watch image 4"
                  loading="lazy"
                />
              </picture>
            </li>
          </ul>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>

        <div thumbsSlider="" class="sale-item-small swiper mySwiper">
          <ul class="sale-item-small-list swiper-wrapper">
            <li class="sale-item-small-item swiper-slide" lazy="true">
              <picture
                ><img
                  src="/img/sale-slider/sale-small-mobile-1.jpg"
                  alt="watch img 1"
                  loading="lazy"
              /></picture>
            </li>
            <li class="sale-item-small-item swiper-slide" lazy="true">
              <picture
                ><img
                  src="/img/sale-slider/sale-small-mobile-2.jpg"
                  alt="watch image 2"
                  loading="lazy"
              /></picture>
            </li>
            <li class="sale-item-small-item swiper-slide" lazy="true">
              <picture
                ><img
                  src="/img/sale-slider/sale-small-mobile-3.jpg"
                  alt="watch image 3"
                  loading="lazy"
              /></picture>
            </li>
            <li class="sale-item-small-item swiper-slide" lazy="true">
              <picture
                ><img
                  src="/img/sale-slider/sale-small-mobile-4.jpg"
                  alt="watch image 4"
                  loading="lazy"
              /></picture>
            </li>
          </ul>
        </div>
      </div>

      <div class="sale-item-info">
        <div class="sale-item-main-info">
          <h2 class="sale-item-title">Greenlane Watch By Police For MenHT</h2>
          <p class="sale-item-product-tag">Product tag: PEWJK2227003</p>
          <div class="sale-item-price">
            <p class="sale-item-current-price">€700</p>
            <p class="sale-item-previous-price">€1000</p>
          </div>
        </div>
        <div class="sale-item-description">
          <h3 class="sale-item-description-title">Description</h3>
          <p class="sale-item-description-text">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch features a versatile multifunction design that fits
            effortlessly into work and play. The steel case is adorned with a
            semi-transparent black dial. The timepiece exhibits a contrast
            through a black IP bracelet with matching crown and pushers.
          </p>
        </div>
        <div class="sale-item-details">
          <h3 class="sale-item-details-title">details & featurestion</h3>
          <div class="sale-item-details-and-features">
            <p class="sale-item-details-text">Gender: <span>man</span></p>
            <p class="sale-item-details-text">Size: <span>46x54.5mm</span></p>
            <p class="sale-item-details-text">
              Case Colour: <span>Steel</span>
            </p>
            <p class="sale-item-details-text">
              Band Material: <span>Metal</span>
            </p>
            <p class="sale-item-details-text">
              Case Material: <span>Metal</span>
            </p>
            <p class="sale-item-details-text">
              Features: <span>Multifunction</span>
            </p>
            <p class="sale-item-details-text">
              Water Resistant: <span>5 (ATM)</span>
            </p>
            <p class="sale-item-details-text">
              Band Colour: <span>Steel</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
