<section class="sale" id="sale">
  <div class="sale-container container">
    <h2 class="sale-title">Sale</h2>
    <div class="info-wrap">
      <div class="sale-gallery">
        <ul class="sale-gallery-list">
          <li class="sale-gallery-item">
            <picture class="sale-picture">
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/sale/sale-small-desktop-1.webp     1x,
                  /img/sale/sale-small-desktop-1-@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/sale/sale-small-desktop-1.webp     1x,
                  /img/sale/sale-small-desktop-1-@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/sale/sale-small-mobile-1.webp     1x,
                  /img/sale/sale-small-mobile-1-@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/sale/sale-small-desktop-1.jpg     1x,
                  /img/sale/sale-small-desktop-1-@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/sale/sale-small-desktop-1.jpg     1x,
                  /img/sale/sale-small-desktop-1-@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/sale/sale-small-mobile-1.jpg     1x,
                  /img/sale/sale-small-mobile-1-@2x.jpg 2x
                "
              />

              <img src="/img/sale/sale-small-mobile-1.jpg" alt="watch img 1" />
            </picture>
          </li>
          <li class="sale-gallery-item">
            <picture class="sale-picture">
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./img/sale/sale-small-desktop-2.webp     1x,
                  ./img/sale/sale-small-desktop-2-@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/sale/sale-small-tablet-2.webp     1x,
                  /img/sale/sale-small-tablet-2-@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/sale/sale-small-mobile-2.webp     1x,
                  /img/sale/sale-small-mobile-2-@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/sale/sale-small-desktop-2.jpg     1x,
                  /img/sale/sale-small-desktop-2-@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/sale/sale-small-tablet-2.jpg 1x,
                  /img/sale/sale-small-tablet-2.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/sale/sale-small-mobile-2-@2x.jpg 1x,
                  /img/sale/sale-small-mobile-2-@2x.jpg 2x
                "
              />

              <img
                src="/img/sale/sale-small-mobile-2.jpg"
                alt="watch image 2"
              />
            </picture>
          </li>
          <li class="sale-gallery-item">
            <picture class="sale-picture">
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./img/sale/sale-small-desktop-3.webp     1x,
                  ./img/sale/sale-small-desktop-3-@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/sale/sale-small-tablet-3.webp     1x,
                  /img/sale/sale-small-tablet-3-@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/sale/sale-small-mobile-3.webp     1x,
                  /img/sale/sale-small-mobile-3-@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/sale/sale-small-desktop-3.jpg     1x,
                  /img/sale/sale-small-desktop-3-@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/sale/sale-small-tablet-3.jpg     1x,
                  /img/sale/sale-small-tablet-3-@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/sale/sale-small-mobile-3.jpg     1x,
                  /img/sale/sale-small-mobile-3-@2x.jpg 2x
                "
              />

              <img
                src="/img/sale/sale-small-mobile-3.jpg"
                alt="watch image 3"
              />
            </picture>
          </li>
          <li class="sale-gallery-item">
            <picture class="sale-picture">
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./img/sale/sale-small-desktop-4.webp     1x,
                  ./img/sale/sale-small-desktop-4-@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/sale/sale-small-tablet-4.webp     1x,
                  /img/sale/sale-small-tablet-4-@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/sale/sale-small-mobile-4.webp     1x,
                  /img/sale/sale-small-mobile-4-@2x.webp 2x
                "
                type="image/webp"
              />

              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/sale/sale-small-desktop-4.jpg     1x,
                  /img/sale/sale-small-desktop-4-@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/sale/sale-small-tablet-4.jpg     1x,
                  /img/sale/sale-small-tablet-4-@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img/sale/sale-small-mobile-4.jpg     1x,
                  /img/sale/sale-small-mobile-4-@2x.jpg 2x
                "
              />

              <img
                src="/img/sale/sale-small-mobile-4.jpg"
                alt="watch image 4"
              />
            </picture>
          </li>
        </ul>
        <div class="sale-item-big">
          <picture class="sale-picture-big">
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/sale/sale-big-desktop-1.webp     1x,
                /img/sale/sale-big-desktop-1-@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/sale/sale-big-desktop-1.webp     1x,
                /img/sale/sale-big-desktop-1-@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/sale/sale-big-mobile-1.webp    1x,
                /img/sale/sale-big-mobile-1@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(min-width: 1200px)"
              srcset="
                /img/sale/sale-big-desktop-1.png     1x,
                /img/sale/sale-big-desktop-1-@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/sale/sale-big-desktop-1.png     1x,
                /img/sale/sale-big-desktop-1-@2x.png 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/sale/sale-big-mobile-1.png     1x,
                /img/sale/sale-big-mobile-1-@2x.png 2x
              "
            />

            <img src="/img/sale/sale-big-mobile-1.png" alt="big watch image" />
          </picture>
        </div>
      </div>
      <div class="sale-item-info">
        <div class="sale-item-main-info">
          <h2 class="sale-item-title">Greenlane Watch By Police For MenHT</h2>
          <p class="sale-item-product-tag">Product tag: PEWJK2227003</p>
          <div class="sale-item-price">
            <p class="sale-item-current-price">€700</p>
            <p class="sale-item-previous-price">€1000</p>
          </div>
        </div>
        <div class="sale-item-description">
          <h3 class="sale-item-description-title">Description</h3>
          <p class="sale-item-description-text">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch features a versatile multifunction design that fits
            effortlessly into work and play. The steel case is adorned with a
            semi-transparent black dial. The timepiece exhibits a contrast
            through a black IP bracelet with matching crown and pushers.
          </p>
        </div>
        <div class="sale-item-details">
          <h3 class="sale-item-details-title">details & featurestion</h3>

          <pre class="sale-item-details-text">
Gender: man
Size: 46x54.5mm
Case Colour: Steel
Band Material: Metal
Case Material: Metal
Features: Multifunction
Water Resistant: 5 (ATM)
Band Colour: Steel</pre
          >
        </div>
      </div>
    </div>
  </div>
</section>
