<div class="modal-team-wrapper" data-modal="team-modal">
  <div class="modal-team">
    <a
      class="modal-team-goit"
      href="https://m.goit.global/ua/new/"
      target="_blank"
      rel="noopener noreferrer nofollow"
    >
      <svg class="modal-team-goit-icon" width="54" height="16">
        <use href="/img/icons.svg#goit"></use>
      </svg>
    </a>

    <button class="modal-team-close-btn" data-modal-close="team-modal">
      <svg class="modal-team-close-icon" width="24" height="24">
        <use href="/img/icons.svg#close"></use>
      </svg>
    </button>

    <ul class="modal-team-list">
      <li class="modal-team-item">
        <img class="modal-team-photo" src="/img/team/pasha.jpg" alt="team mate" />
        <h3 class="modal-team-title">Pavlo Lysiuk</h3>
        <p class="modal-team-text">Team-Leader/Developer</p>
        <a
          class="modal-team-link"
          href="https://github.com/PavloLysiuk"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="modal-team-icon" width="24" height="24">
            <use href="/img/icons.svg#gh"></use>
          </svg>
        </a>
      </li>

      <li class="modal-team-item">
        <img class="modal-team-photo" src="/img/team/yurii.jpg" alt="team mate" />
        <h3 class="modal-team-title">Yurii Yurchyk</h3>
        <p class="modal-team-text">Scrum-Master/Developer</p>
        <a
          class="modal-team-link"
          href="https://github.com/yurchykyur"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="modal-team-icon" width="24" height="24">
            <use href="/img/icons.svg#gh"></use>
          </svg>
        </a>
      </li>

      <li class="modal-team-item">
        <img class="modal-team-photo" src="/img/team/oleg.jpg" alt="team mate" />
        <h3 class="modal-team-title">Oleg Barabash</h3>
        <p class="modal-team-text">Front-End Developer</p>
        <a
          class="modal-team-link"
          href="https://github.com/OlegBarabash"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="modal-team-icon" width="24" height="24">
            <use href="/img/icons.svg#gh"></use>
          </svg>
        </a>
      </li>

      <li class="modal-team-item">
        <img class="modal-team-photo" src="" alt="team mate" />
        <h3 class="modal-team-title">Maxim Stepanchuk</h3>
        <p class="modal-team-text">Front-End Developer</p>
        <a
          class="modal-team-link"
          href="https://github.com/stepanchukMax"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="modal-team-icon" width="24" height="24">
            <use href="/img/icons.svg#gh"></use>
          </svg>
        </a>
      </li>

      <li class="modal-team-item">
        <img class="modal-team-photo" src="/img/team/tymur.jpg" alt="team mate" />
        <h3 class="modal-team-title">Tymur Zhukov</h3>
        <p class="modal-team-text">Front-End Developer</p>
        <a
          class="modal-team-link"
          href="https://github.com/TymurZhukov"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="modal-team-icon" width="24" height="24">
            <use href="/img/icons.svg#gh"></use>
          </svg>
        </a>
      </li>

      <li class="modal-team-item">
        <img
          class="modal-team-photo"
          src="/img/team/nastya.jpg"
          alt="team mate"
        />
        <h3 class="modal-team-title">Anastasia Kozlovska</h3>
        <p class="modal-team-text">Front-End Developer</p>
        <a
          class="modal-team-link"
          href="https://github.com/NastyaK02"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="modal-team-icon" width="24" height="24">
            <use href="/img/icons.svg#gh"></use>
          </svg>
        </a>
      </li>

      <li class="modal-team-item">
        <img
          class="modal-team-photo"
          src="/img/team/myroslava.jpg"
          alt="team mate"
        />
        <h3 class="modal-team-title">Myroslava Dovha</h3>
        <p class="modal-team-text">Front-End Developer</p>
        <a
          class="modal-team-link"
          href="https://github.com/MiraDov290"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="modal-team-icon" width="24" height="24">
            <use href="/img/icons.svg#gh"></use>
          </svg>
        </a>
      </li>

      <li class="modal-team-item">
        <img class="modal-team-photo" src="" alt="team mate" />
        <h3 class="modal-team-title">Rostyslav Vorokh</h3>
        <p class="modal-team-text">Front-End Developer</p>
        <a
          class="modal-team-link"
          href="https://github.com/RosVor"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg class="modal-team-icon" width="24" height="24">
            <use href="/img/icons.svg#gh"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
