.catalog {
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 100%;
}

.catalog-title {
    margin-bottom: 40px;
        font-size: 32px;
        line-height: 1.25;
        letter-spacing: -0.02em;

        color: var(--dark-green-color);
}

.catalog-item {
    width: 100%;
    height: 100%;
}

.catalog-img {
    padding: 43px 30px;
  
}

.watches-content {
    padding: 14px 0 0 0;
    margin-left: 0;
}

.watches-title {
    font-weight: 400;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
    
        color: var(--main-dark-color);
}

.watches-description {
    margin-top: 4px;
        line-height: 1.29;
        letter-spacing: -0.02em;
    
        color: var(--grey-color);
}

.catalog-button {
  position: absolute;
  margin-top: 40px;
  right: 20px;
    padding: 14px 28px;
    height: 42px;
}

@media screen and (max-width: 767px){
    .catalog-item:nth-last-child(-n+4) {
            display: none;
        }

    .catalog-icon-open {
            display: none;
        }
}

@media screen and (min-width: 768px) {
    .catalog {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .catalog-title {
        font-weight: 600;
        font-size: 40px;
        line-height: 1.1;
        }

    .catalog-list {
       
        display: flex;
        flex-wrap: wrap;
        column-gap: 32px;
        row-gap: 40px;
    }

    .catalog-item {
        width: 336px;
    }

    .catalog-button {
        padding: 18px 35px;
        height: 50px;
        right: 32px;
    }

    .catalog-icon-open {
        position: relative;
        top: 14px;
        left: 298px;

        fill: var(--heart-grey-color);   
    }
}

@media screen and (max-width: 1199px) {
    .catalog-item:nth-last-child(-n+4) {
            display: none;
        }
}

@media screen and (min-width: 1200px) {
    .catalog {
            padding-top: 80px;
            padding-bottom: 80px;
            background-color: var(--white-color);
        }

    .catalog-list {
             display: flex;
             flex-wrap: wrap;
             column-gap: 24px;
             row-gap: 64px;
         }

        .catalog-item {
            width: 276px;
        }
    
        .catalog-icon-open {
            display: none;
        } 
           .catalog-button {
               right: 12px;
                padding: 18px 35px;
                height: 50px;
           }
        
}