.catalog-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.catalog-title {
  margin-bottom: 40px;

  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.02em;

  color: var(--dark-green-color);
}

.catalog-item {
  margin-bottom: 40px;
  width: 100%;
  height: 410px;
}

.catalog-img {
  padding: 43px 30px;
}

.watches-content {
  margin-top: 14px;
}

.watches-title {
  width: 335px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  line-height: 1.29;
  letter-spacing: -0.02em;
}

@media screen and (max-width: 374px) {
  .watches-title {
    width: 280px;
  }
}

.watches-description {
  margin-top: 4px;

  font-size: 12px;
  line-height: 1.2;
  letter-spacing: -0.02em;

  color: var(--grey-color);
}

.catalog-button {
  display: block;

  margin-left: auto;
  margin-top: 40px;
  padding: 14px 28px;

  font-size: 12px;
}

.catalog-link:hover .flip-inner,
.catalog-link:focus .flip-inner {
  transform: rotateY(180deg);
}

.flip-inner {
  position: relative;

  max-width: 336px;
  height: 360px;

  transition: transform var(--card-transition);
  transform-style: preserve-3d;
}

.flip-item:hover .flip-inner,
.flip-item:focus .flip-inner {
  transform: rotateY(180deg);
}

.flip-wrapper,
.flip-back {
  position: absolute;

  width: 100%;
  height: 100%;

  backface-visibility: hidden;
}

.flip-back {
  padding: 46px 40px 30px;

  color: var(--white-color);
  background: var(--dark-green-color);
  border-radius: 8px;

  transform: rotateY(180deg);
}

.overlay-title {
  margin-top: 20px;
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.overlay-title:first-child {
  margin-top: 0;
}

.overlay-descr {
  line-height: 1.29;
  color: var(--second-light-grey-color);
}

.catalog-icon-open {
  position: absolute;
  top: 14px;
  right: 14px;

  width: 24px;
  height: 24px;

  fill: var(--heart-grey-color);
}

@media screen and (max-width: 767px) {
  .catalog-item:nth-last-child(-n + 4) {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .catalog-container {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .catalog-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.1;
  }

  .catalog-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 40px;
  }

  .catalog-item {
    margin-bottom: 0;
    width: 336px;
  }

  .catalog-img {
    padding: 43px 30px;
  }

  .watches-title {
    width: 336px;
  }

  .catalog-button {
    padding: 18px 35px;
  }

  .overlay-title {
    margin-top: 22px;
  }
}

@media screen and (max-width: 1279px) {
  .catalog-item:nth-last-child(-n + 4) {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .catalog-container {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .catalog-title {
    margin-bottom: 64px;
  }

  .catalog-list {
    column-gap: 24px;
    row-gap: 64px;
  }

  .catalog-item {
    width: 276px;
    height: 375px;
  }

  .catalog-img {
    padding: 26px 0 25px;
  }

  .watches-title {
    width: 276px;
  }

  .catalog-button {
    margin-top: 80px;
  }

  .flip-inner {
    width: 276px;
    height: 325px;
  }

  .flip-back {
    padding: 26px 20px 20px;
  }

  .overlay-title {
    margin-top: 26px;
  }
}
