.footer {
  position: relative;
  padding-top: 40px;
  padding-bottom: 20px;

  background-color: var(--dark-green-color);
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 40px;
}

.footer-logo-link {
  display: block;
  height: 40px;
  width: 40px;

  transform: scale(1);
  transition: var(--transition);
}

.footer-logo-link:is(:hover, :focus) {
  transform: scale(1.15);
}

.footer-logo-icon {
  width: 40px;
  height: 40px;

  fill: var(--white-color);
}

.footer-contacts {
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  line-height: 1.29;

  color: var(--white-color);
}

.footer-contacts-tel {
  transition: color var(--transition);
}

.footer-contacts-address {
  transition: color var(--transition);
}

.footer-contacts-text {
  margin: 0;

  font-family: 'Epilogue';
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.footer-nav-item:not(:last-child) {
  margin-bottom: 14px;
}

.footer-nav-link {
  display: block;
  line-height: 1.29;
  text-transform: uppercase;

  color: var(--white-color);

  transition: color var(--transition);
}

.footer-nav-link:is(:hover, :focus),
.footer-contacts-tel:is(:hover, :focus),
.footer-contacts-address:is(:hover, :focus) {
  color: var(--second-light-grey-color);
}

.footer-socials-list {
  display: flex;
  gap: 14px;
}

.footer-socials-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  background-color: transparent;
  border: 1px solid var(--social-hover-color);
  border-radius: 25%;

  transform: scale(1);

  transition: transform var(--transition), border-radius var(--transition),
    background-color var(--transition);
}

.footer-socials-link:is(:hover, :focus) {
  transform: scale(1.25);
  border-radius: 50%;
  background-color: var(--social-hover-color);
}

.footer-socials-icon {
  fill: var(--white-color);
}

.footer-copyright {
  margin-top: 80px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 14px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;

  color: var(--light-grey-color);
}

.footer-terms-wrapper {
  display: flex;
  gap: 14px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 80px;
  }

  .footer-logo-link {
    height: 50px;
    width: 50px;
  }

  .footer-logo-icon {
    width: 50px;
    height: 50px;
  }

  .footer-contacts-tel,
  .footer-contacts-text {
    font-size: 18px;
    line-height: 1.33;
  }

  .footer-nav-item {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
  }

  .footer-nav-item:not(:last-child) {
    margin-bottom: 18px;
  }

  .footer-socials-list {
    gap: 16px;
  }

  .footer-socials-link {
    width: 44px;
    height: 44px;
  }

  .footer-socials-icon {
    width: 28px;
    height: 28px;
  }

  .footer-copyright {
    margin-top: 152px;

    font-size: 14px;
  }

  .footer-terms-wrapper {
    gap: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    padding-bottom: 32px;
  }

  .footer-copyright {
    margin-top: 174px;
  }
}
