


.header {
    background-color: var(--main-dark-color);

}

.header-wrapper {
  padding-top: 29px;
  padding-bottom: 35px;

  display: flex;
  align-items: center;
  justify-content: space-between;

}

.header-logo {
  display: flex;
  align-items: center;
}



.header-logo-icon {
  width: 14px;
  height: 14px;
  fill: var(--white-color);
}



.header-logo-text {
  margin-left: 4px;

  font-size: 12px;
  line-height: 1;
  letter-spacing: -0.03em;

  color: var(--white-color);
}

.header-list,
.header-contacts {
  display: none;
}

.menu-btn {
  background-color: transparent;
  border: none;
}

.icon-menu-burger {
  width: 24px;
  height: 24px;
  
  fill: var(--white-color);
}


@media screen and (min-width: 375px) {
    .container {
      margin: 0 auto;
      max-width: 375px;
    }
  }




/* Tablet */

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    max-width: 768px;
  }


  .header-logo {
    padding-top: 34px;
    padding-bottom: 34px;
  }

  .header-logo-icon {
    width: 19px;
    height: 19px;
  
  }

  .header-logo-text {
    font-size: 15px;
  }

  .header-logo {
    margin-right: 80px;
  }


  .header-contacts {

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--dark-green-color);
    border-radius: 8px;
  }


  .header-nav {
    display: flex;
  }

  .menu-btn {
    display: none;
  }

  .header-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-link {
    padding-top: 38px;
    padding-bottom: 38px;
  }

  .header-item {
    font-size: 9px;
    line-height: 1.33;

    text-align: center;
    text-transform: uppercase;

    color: var(--white-color);

    transition: color var(--transition);
  }


  .header-item:hover,
  .header-item:focus {
    color: var(--second-light-grey-color);
    
  }

  .header-tel {
    padding: 18px 35px;
    font-size: 9px;
    line-height: 1.33;
    text-align: center;
    text-transform: uppercase;

    color: var(--white-color);
    
  }
}


/* Desktop */

@media screen and (min-width: 1200px) {
    .container {
      padding: 0 12px;
      max-width: 1200px;
    }


  }
