.hero {
  background-color: var(--main-dark-color);
}

.hero-container {
  padding-top: 122px;
  padding-bottom: 40px;
}

.hero-title {
  margin-bottom: 40px;

  font-weight: 600;
  font-size: 38px;
  line-height: 1.05;
  letter-spacing: -0.04em;
  color: var(--white-color);
}

.slider-wrapper {
}
.hero-list {
}
.hero-item {
}
.hero-link {
}
.hero-description {
  display: block;
  width: 248px;
  height: 108px;
  margin-left: auto;
  margin-bottom: 40px;

  font-weight: 300;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--white-color);
}

.hero-image {
  max-width: 335px;
  max-height: 410px;
}
