@import 'swiper/css/bundle';

.sale-container {
  padding-top: 40px;
  padding-bottom: 80px;
}

.sale-title {
  margin-bottom: 40px;

  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: var(--main-dark-color);
}

.sale-slider-container {
  position: relative;
  width: 335px;
  height: 350px;
  margin-bottom: 40px;
}

.sale-gallery {
  position: relative;
  z-index: 2;

  width: 235px;
  height: 100%;
  margin-right: 0;
  margin-left: auto;
}

.sale-gallery-item-big {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--main-dark-color);
}

.sale-item-small {
  position: absolute;
  top: 0;
  left: 0;
  display: block;

  width: 350px;
}

.sale-item-small-list {
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 200px;
}

.sale-swiper-button-prev {
  top: 50%;
  left: 100px;
  z-index: 11;
  transform: translateY(-50%);

  margin-top: 0;
  width: 34px;
  height: 34px;
}

.sale-swiper-button-next {
  top: 50%;
  right: 0;
  z-index: 11;
  transform: translateY(-50%);

  margin-top: 0;
  width: 34px;
  height: 34px;
}

.sale-swiper-button-next:after,
.sale-swiper-button-prev:after {
  display: none;
}

.sale-swipe-button-next-icon {
  fill: var(--second-light-grey-color);
}

.sale-swipe-button-prev-icon {
  fill: var(--second-light-grey-color);
}

.sale-item-info {
  display: block;
}

.sale-item-main-info {
  margin-bottom: 40px;
}

.sale-item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}

.sale-item-product-tag {
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--grey-color);
  margin-bottom: 16px;
}

.sale-item-price {
  display: flex;
  align-items: center;
}

.sale-item-current-price {
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  margin-right: 8px;
}

.sale-item-previous-price {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-decoration-line: line-through;
  color: var(--grey-color);
}

.sale-item-description {
  margin-bottom: 45px;
}

.sale-item-description::before {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--main-dark-color);
}

.sale-item-description-title {
  margin-top: 8px;
  margin-bottom: 17px;

  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.sale-item-description-title::after {
  position: absolute;
  content: '';
  width: 16px;
  height: 1px;
  right: 0;
  top: 50%;
  background-color: var(--main-dark-color);
}

.sale-item-description-text {
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: var(--grey-color);
}

.sale-item-details::before {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--main-dark-color);
}

.sale-item-details-title {
  position: relative;

  margin-top: 8px;
  margin-bottom: 17px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.sale-item-details-title::after {
  position: absolute;
  content: '';
  width: 16px;
  height: 1px;
  right: 0;
  top: 50%;
  background-color: var(--main-dark-color);
}

.sale-item-details-text {
  font-family: 'Epilogue', sans-serif;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: var(--grey-color);
}

@media screen and (min-width: 768px) {
  .sale-title {
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -0.02em;
  }

  .info-wrap {
    margin-right: auto;
    margin-left: auto;
    width: 572px;
  }

  .sale-slider-container {
    width: 572px;
    height: 614px;
  }

  .sale-gallery {
    width: 406px;
  }

  .sale-item-small {
    width: 614px;
  }

  .sale-item-small-list {
    column-gap: 400px;
  }

  .sale-swiper-button-prev {
    left: 166px;
  }

  .sale-swipe-button-next-icon {
    width: 24px;
    height: 24px;
  }

  .sale-swipe-button-prev-icon {
    width: 24px;
    height: 24px;
  }

  .sale-item-title {
    font-size: 38px;
    line-height: 1.05;
  }
}

@media screen and (min-width: 1280px) {
  .sale-title {
    margin-bottom: 80px;
  }

  .info-wrap {
    position: relative;
    width: 981px;
    max-height: 614px;
  }

  .sale-slider-container {
    margin-right: 40px;
  }

  .sale-item-info {
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    width: 369px;
    height: 614px;
  }

  .sale-item-description {
    margin-bottom: 20px;
  }
}
